body {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #B7D9F6;
}